<div id="header">
	<div id="header_title" class="title">About</div>
</div>

<div id="about_page" class="content_wrapper">
	<div id="aboutScroll" class="scroll_wrapper scroller_down">
		<div id="scroller">
			<div class="palette" style="margin-bottom:25px">
				<div class="text_block">
					<div class="h2" style="text-transform:uppercase;margin-bottom:5px">About Pics For Pets</div>
	
					<p class="h4">Every year, approximately 3 to 4 million animals in shelters are euthanized simply because they don’t get adopted.</p>

					<div class="h3 align_center">One reason they don’t get adopted? <span style="text-decoration:underline">Bad pictures</span>.</div>

					<p class="h4">Just by taking and sharing a great picture of a shelter animal, you can increase its chance of being adopted. Pics for Pets is a campaign that gives you the tools to take and share great photos of shelter animals to improve their chances of finding a happy home.</p>
					
					<p class="h4">Got questions about the campaign? Check out the FAQs or email <a style="text-transform:underline;color:#000;" href="mailto:animals@dosomething.org">animals@dosomething.org</a> (tap and hold to email). </p>
				</div>
			</div>
		</div>
	</div>
</div>  