<div id="header">
	<div class="back_button"></div>
	<div id="header_title" class="title">
		Campaign Signup
	</div>
</div>

<div id="register_page" class="content_wrapper">
	<div id="wrapper2" class="scroll_wrapper">
		<div id="scroller">
			<div class="little_info">
				Thanks for your interest in the campaign!  Sign up for more info!
			</div>
			<form id="registerForm">
				<div class="label">Email</div>
				<input type="email" name="email" />
				<div class="label">Cell #</div>
				<input type="tel" name="cell" />

				<input type="submit" name="ds_register" class="button login_button yellow_button active_button" value="Let's Do This" />
			</form>
		</div>
	</div>
</div>