<div id="header">
	<div id="header_title" class="title">Campaign Name</div>
</div>

<div id="campaign_page" class="content_wrapper">
	<div id="wrapperCampaign" class="scroll_wrapper">
		<div id="scroller">
			<div class="banner" style="height:135px;background-image:url(http://placekitten.com/640/270)"></div>
			<div class="description">
				<div class="h2">July 1st - September 15th</div>
				<p>Donate school supplies at your local Staples store to support kids in need.</p>
			</div>
			<div class="signUp_wrapper">
				<div class="button yellow_button active_yellow">Sign Up</div> <!-- toggles to Already Signed Up -->
			</div>
			<div id="campaignBanner" class="banner" style="height:130px;background-image:url(http://placekitten.com/640/260)"></div> <!-- needs link to child browser -->
			<div class="campaign_link">Actions</div>
			<div class="campaign_link">How To</div>
			<div class="campaign_link">Gallery</div>
			<div class="campaign_link">Prizes</div>
			<div class="campaign_link">Resources</div>
			<div class="campaign_link">FAQ</div>
		</div>
	</div>
</div>