<div class='eduModal'>
	<div class='eduLogo'></div>
	<div class='eduText'>
		<div class='h3' style='padding-top:0'>GALLERY</div>
		<div class='h4 edu_column' style='margin-right:3.9%'>General: Browse through shelter animal photos. Once you find your favorite, tap on it!</div>
		<div class='h4 edu_column'>Filters: You can also sort the animals by Most Shared, Least Shared, and Zip Location</div>
		<div class='clear'></div>
		<div class='edu_column' style='margin-right:3.9%'>
			<div class='h3'>MY ANIMALS</div>
			<div class='h4'>Check in on animals you've uploaded or shared to see how they're doing.</div>
		</div>
		<div class='edu_column'>
			<div class='h3'>CAMERA/PHOTOGRAPH</div>
			<div class='h4'>Take a picture of your shelter animal. If you want helpful pic tips, check out 'Photograph' first.</div>
		</div>
		<div class='clear'></div>
		<div class='h3'>PET PAGE</div>
		<div class='edu_column' style='margin-right:3.9%'>
			<div class='h4'>Click 'More Info' for shelter details on this particular animal.</div>
		</div>
		<div class='edu_column'>
			<div class='h4'>Heart/Share: Here's a quick pulse on the animal's share count!</div>
		</div>
		<div class='clear'></div>
		<div class='edu_column' style='margin-right:3.9%'>
			<div class='h4' style='padding-top:7px'>Click 'Share Me' to give this animal some love.</div>
		</div>
		<div class='edu_column'>
			<div class='h4' style='padding-top:7px'>Swipe your finger left or right to get to the next animal.</div>
		</div>		
		<div class='clear'></div>
	</div>
	<div id='edu-button' class='wide_button blue_button active_yellow'>Let's Get Started</div>
</div>