<div id="header">
	<div id="header_title" class="title">Photograph</div>
</div>

<div id="furtograph_page" class="content_wrapper palette">
	<div class="text_block">
		<div class="h2" style="text-transform:uppercase;margin-bottom:10px">Be a photographer</div>
		<div class="h4">Were you inspired by all the pics of shelter pets? Well you can take pics, too! Not only do we provide a camera, but you’ll also find a shelter locator as well as great photography tips to get you started.</div>
	</div>
	<div id="fur_action" class="wide_button active_opacity green_button" >Action Guide</div>
	<div id="fur_shelter" class="wide_button blue_button active_opacity">Find a shelter</div>
	<div id="fur_pic" class="wide_button red_button active_opacity" style="margin-bottom:0">Take a pic</div>
</div>