<div id="header">
	<div class="back_button"></div>
	<div id="header_title" class="title">Action Guide</div>
</div>

<div id="guide_page" class="content_wrapper palette">
	<div class="action_number">1</div>
	<div class="h2">Find your nearest animal shelter with the handy shelter locator.</div>
	<div class="clear"></div>
	
	<div class="action_number">2</div>
	<div class="h2">Visit your shelter to take an awesome animal picture.</div>
	<div class="clear"></div>
	
	<div class="action_number">3</div>
	<div class="h2">Submit your picture to the gallery as well as important animal details.</div>
	<div class="clear"></div>
	
	<div class="action_number">4</div>
	<div class="h2">Share your animal with your Facebook friends to help it get adopted.</div>
	<div class="clear"></div>
	
	<div class="action_number">5</div>
	<div class="h2">Don’t stop there! You can help other animals get adopted, too, by sharing them as well.</div>
	<div class="clear"></div>
</div>