<div id="header">
	<div class="back_button"></div>
	<div id="header_title" class="title">Gallery</div>
</div>

<div id="image_page" class="content_wrapper">
	<img id="theimage" class="gallery_full_image" style="background-image:url( {{imageURL}} )">

</div>
