<div id="login_page" class="content_wrapper">
	<div class="bglogo"></div>
	<form>
		<input type="email" name="email" placeholder="Email / Username" />
		<input type="text" name="password" placeholder="Password" />
		<input type="submit" name="loginDS" class="button yellow_button active_yellow" value="Log In" />
		<div id="register_button" class="button yellow_button active_yellow">
      Become a member
    </div>
		<div id="facebook_login" class="button facebook_button"></div>
	</form>
</div>