<div id="header">
	<div class="back_button"></div>
	<div class="logo">
		<img src="images/p4plogo.png" />
	</div>
</div>

<div id="register_page" class="content_wrapper palette">
	<div class="little_info">Before you get started we need a little info</div>
	<form>
		<div class="label">First Name</div>
		<input type="text" name="first_name" />
		<div class="label">Last Name</div>
		<input type="text" name="last_name" />
		<div class="label">Email or Cell #</div>
		<input type="text" name="email" />
		<input type="submit" name="loginDS" class="login_button" value="Let's Do This" />
	</form>
</div>