<div id="header">
	<div id="header_title" class="title">My Animals</div>
</div>

<div id="emptyMyAnimals_page" class="content_wrapper">
	<div class="empty_page_line1">Empty page instructions 1</div>
	<div class="empty_page_line2">Empty page instructions 2</div>
</div>