<div id="header">
	<div id="header_title" class="title">My Animals</div>
</div>

<div id="myAnimals_page" class="content_wrapper">
<h1>test</h1>
	<div id="myPetScroll" class="scroll_wrapper">
		<div id="scroller">
			<ul id="myanimals" class="border_list">
				
				


				{{#each pets}}
					<li class="mypetitem" data-id="{{sid}}"> 
	<div data-id="{{sid}}" class="pet_image" style="background-image:url('{{thumb_retina}}')"></div>
	<div class="pet_name">{{ name }}</div>
	<div class="item_arrow"></div>
	</li>
  					 {{/each}}
				 
			</ul>
		</div>
	</div>
</div>                  