<div id="header">
  <div id="header_title" class="title">Profile</div>
</div>

<div id="profile_anonymous_page" class="content_wrapper">
  <div id="wrapper2" class="scroll_wrapper">
    <div id="scroller">
      <div class="profile-anon-section">
        <div class="description">
          Login or Register to participate in our national campaigns and track your progress.
        </div>
        <div id="btnProfileLogin" class="button yellow_button">
          GET STARTED NOW
        </div>
      </div>
      <div class="profile-anon-section">
        <div class="description">
          Or browse our campaigns to see what you can get involved in!
        </div>
        <div id="btnProfileGetInvolved" class="button yellow_button">
          FIND WAYS TO GET INVOLVED
        </div>
      </div>
    </div>
  </div>
</div>