<div id="header">
  <div id="header_title" class="title">
    Select Your Causes
  </div>
</div>

<div id="quiz_page" class="content_wrapper">
  <div class="description">
    Help us to know more about you! Select the top 3 causes YOU care about below.
  </div>

  <!-- Note: This horizontal scroller does not work if the outer page div is a iScroll wrapper -->
  <div class="cause-options-outer">
    <div class="cause-options-inner">
      <img id="cause-animals" src="images/cause_animals.png"/>
      <img id="cause-bullying" src="images/cause_bullying.png"/>
      <img id="cause-disasters" src="images/cause_disasters.png"/>
      <img id="cause-discrimination" src="images/cause_discrimination.png"/>
      <img id="cause-education" src="images/cause_education.png"/>
      <img id="cause-environment" src="images/cause_environment.png"/>
      <img id="cause-health" src="images/cause_health.png"/>
      <img id="cause-human-rights" src="images/cause_human_rights.png"/>
      <img id="cause-poverty" src="images/cause_poverty.png"/>
      <img id="cause-relationships" src="images/cause_relationships.png"/>
      <img id="cause-troops" src="images/cause_troops.png"/>
    </div>
  </div>
  <div class="clear"></div>
  <div class="cause-selections">
    <div id="cause-selection-0" class="cause-selection">
      1.
    </div>
    <div id="cause-selection-1" class="cause-selection">
      2. 
    </div>
    <div id="cause-selection-2" class="cause-selection">
      3.
    </div>
  </div>
  <div class="button yellow_button action_button">
    CONTINUE
  </div>
</div>