<div id="header">
	<div id="header_title" class="title">Settings</div>
</div>

<div id="settings_page" class="content_wrapper">
	<div class="button gray_button active_gray">Your Causes</div>
	<div class="button gray_button active_gray">Terms of Use</div>
	<div class="button gray_button active_gray">Privacy Policy</div>
	<div class="button gray_button active_gray logout">Log Out</div>
</div>