<div id="header">
	<div class="back_button"></div>
	<div id="header_title" class="title">Find a Shelter</div>
</div>

<div id="shelterList_page" class="content_wrapper">
	<div class="shelters_header">
		<div class="shelters_near">Animal Shelters near: {{zip}}</div>
		<div id="cancel-search" class="box_button cancel_small"></div>
	</div>

	<div id="shelterScroll" class="scroll_wrapper scroller_down">
		<div id="scroller">


			<ul id="shelters" class="border_list">
				{{#each shelters}}
				<li data-id="{{nid}}" class="pet_item">
	<div class="pet_name">{{title}}</div>
	<div class="item_arrow"></div>
</li>
  					 {{/each}}
				
				
			</ul>
		</div>
	</div>
</div>