<div id="header">
	<div class="back_button"></div>
	<div id="header_title" class="title">Find a Shelter</div>
</div>

<div id="shelterForm_page" class="content_wrapper palette" style="padding-bottom:1px">
	<form>
		<div  class="label">Zipcode</div>
		<input id="shelter-z" type="tel" name="zip" style="width:100%" />
		<input id="shelter-submit" class="active_opacity" type="submit" name="findShelter_button" value="Search!" />
	</form>
</div>