<div id="header">

	<div id="header_title" class="title">Submit a Pet</div>
	<div id="submit-cancel" class="box_button_header box_button cancel_button"></div>

</div>

<div id="submitPet_page" class="content_wrapper">
	<div id="submitWrapper" class="pet_scroll_wrapper scroll_wrapper scroller_down">
		<div id="scroller">
			<div id="submit_pet" class="palette" style="margin-bottom:25px">
				<div id="pet-preview" class="pet_preview" ></div>
				<div id="retake-pet" class="wide_button red_button active_opacity">Retake Pic</div>
				<form id="pet-form">
					<div class="label">Animal Name</div>
					<input id="pet_name" type="text" name="pet_name" />
					<div class="form_friends form_friends1">
						<div class="label">Type</div>
						<select name="pet_type">
							 <option value="Dog">Dog</option>
				  		<option value="Cat">Cat</option>
				  		<option value="Bird">Bird</option>
				  		<option value="Rabbit">Rabbit</option>
						</select>
					</div>
					<div class="form_friends form_friends1">
						<div class="label">Age</div>
						<input type="tel" name="pet_age" min="0" max="100" placeholder="In years" />
					</div>
					
					<div class="clear"></div>
					<div class="label">Three words that describe this pet</div>
					<div class="form_friends form_friends1" style="height:35px">
						<input type="text" name="pet_description1" placeholder="Word 1" />
					</div>
					<div class="form_friends form_friends1" style="height:35px">
						<input type="text" name="pet_description2" placeholder="Word 2" />
					</div>
					<div class="form_friends form_friends1" style="height:35px">
						<input type="text" name="pet_description3" placeholder="Word 3" />
					</div>
					<div class="clear"></div>
					<div class="label">Shelter Name</div>
					<input type="text" name="shelter_name" />
					<div class="label">Street Address</div>
					<input type="text" name="shelter_address" />
					<div class="label">City</div>
					<input type="text" name="shelter_city" />
					<div class="form_friends form_friends2">
						<div class="label">State</div>
						<select name="shelter_state" size="1">
							 	<option value="DNS" selected>-</option>
							 	<option value="AK">AK</option>
							 	<option value="AL">AL</option>
						  	<option value="AR">AR</option>
							  <option value="AZ">AZ</option>
							  <option value="CA">CA</option>
							  <option value="CO">CO</option>
							  <option value="CT">CT</option>
							  <option value="DE">DE</option>
							  <option value="FL">FL</option>
							  <option value="GA">GA</option>
							  <option value="HI">HI</option>
							  <option value="IA">IA</option>
							  <option value="ID">ID</option>
							  <option value="IL">IL</option>
							  <option value="IN">IN</option>
							  <option value="KS">KS</option>
							  <option value="KY">KY</option>
							  <option value="LA">LA</option>
							  <option value="MA">MA</option>
							  <option value="MD">MD</option>
							  <option value="ME">ME</option>
							  <option value="MI">MI</option>
							  <option value="MN">MN</option>
							  <option value="MO">MO</option>
							  <option value="MS">MS</option>
							  <option value="MT">MT</option>
							  <option value="NC">NC</option>
							  <option value="ND">ND</option>
							  <option value="NE">NE</option>
							  <option value="NH">NH</option>
							  <option value="NJ">NJ</option>
							  <option value="NM">NM</option>
							  <option value="NV">NV</option>
							  <option value="NY">NY</option>
							  <option value="OH">OH</option>
							  <option value="OK">OK</option>
							  <option value="OR">OR</option>
							  <option value="PA">PA</option>
							  <option value="RI">RI</option>
							  <option value="SC">SC</option>
							  <option value="SD">SD</option>
							  <option value="TN">TN</option>
							  <option value="TX">TX</option>
							  <option value="UT">UT</option>
							  <option value="VA">VA</option>
							  <option value="VT">VT</option>
							  <option value="WA">WA</option>
							  <option value="WI">WI</option>
							  <option value="WV">WV</option>
							  <option value="WY">WY</option>
						</select>
					</div>
					<div class="form_friends form_friends3">
						<div class="label">Zip Code</div>
						<input type="tel" name="shelter_zip" />
					</div>
					<div class="clear"></div>
					
					<input id="pet-submit" type="submit" name="submit_pet" class="login_button active_opacity" value="Submit" />
				</form>
			</div>
		</div>
	</div>
</div>